/*GLOBAL STYLES*/
body {
    background: url(images/chucker7.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow-x:hidden;
}

.expand {
    display: inherit;
    margin: 1.5% 5% auto 60%;
    z-index: 4;
    position: relative;
    height: 85vh;
    width: 35vw;
    padding-bottom:2%;
}

.container {
    margin-top: -8em;
    /*background-color: black;*/
    /*opacity: 0.6;*/
    z-index: 1;
    position: relative;
    background:rgba(0,0,0,.3);
    width:100%;
    padding: 10px;

}

h1 {
    color: #991937;
    font-family: 'impact', sans-serif;
    font-size: 7em;
    padding: 0px;
    margin-left: 3em;
    margin-top: -7em;
}

h2 {
    padding: 5px;
    display: inline;
    position: relative;
    left: 16%;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
}

.para {
    display: block;
    position: relative;
    right: 10%;
    left: 12.5%;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    border: 2px solid transparent;
    margin: 20px 700px auto 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: 50px;
    width: 34vw;
}

.copy {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    display: block;
    position: relative;
    top:45px;
    text-align:left;
    border: 2px solid transparent;
    background:rgba(0,0,0,.5);
    padding-left:15%;
}

p {
    color: white;
    font-size: 20px;
}

/*button stuff*/

.button {
    font: 35px 'Oswald', Helvetica, Arial, sans-serif;
    padding: 0px 24px;
    text-decoration: none;
    border-radius: 12.5px;
    display: block;
    position: relative;
    margin-top: 1.25em;
    margin-right: 60%;
    margin-left: 18%;
    width: 20vw;
    height: 8vh;
    text-align: center;
    background-color: #F27736;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 10px;
}

.button:hover {
    background-color: #d8540e;
}

.logo {
    height: 25vh;
    width: 14vw;
    padding-top:7.5%;
    margin-left:-25%;
    padding-bottom:15%;
}

ul{
    list-style-type:none;
    padding-right:15%;
}

li{
    color:white;
}

ul li{
    float:right;
    padding-right:5%;
}

.fa{
    color:white;
}